**/*.synctex.gz
**/*.aux
**/*.bbl
**/*.blg
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*.nav
**/*.snm
**/*.fls
**/*.fdb_latexmk
infufrgs/*.pdf
infufrgs/chapters/*.pdf
presentation/*.pdf
.DS_Store
.vscode/settings.json
